    _______ _______ _______ _______ _______ _______ _______ 
    |\     /|\     /|\     /|\     /|\     /|\     /|\     /|
    | +---+ | +---+ | +---+ | +---+ | +---+ | +---+ | +---+ |
    | |   | | |   | | |   | | |   | | |   | | |   | | |   | |
    | |W  | | |E  | | |L  | | |C  | | |O  | | |M  | | |E  | |
    | +---+ | +---+ | +---+ | +---+ | +---+ | +---+ | +---+ |
    |/_____\|/_____\|/_____\|/_____\|/_____\|/_____\|/_____\|   

                        ___ _______ 
                        |\     /|\     /|
                        | +---+ | +---+ |
                        | |   | | |   | |
                        | |T  | | |O  | |
                        | +---+ | +---+ |
                        |/_____\|/_____\|
           
                    _______ _______ _______ 
                    |\     /|\     /|\     /|
                    | +---+ | +---+ | +---+ |
                    | |   | | |   | | |   | |
                    | |I  | | |R  | | |C  | |
                    | +---+ | +---+ | +---+ |
                    |/_____\|/_____\|/_____\|
                         




       .-"-.            .-"-.            .-"-.           .-"-.
     _/_-.-_\_        _/.-.-.\_        _/.-.-.\_       _/.-.-.\_
    / __} {__ \      /|( o o )|\      ( ( o o ) )     ( ( o o ) )
   / //  "  \\ \    | //  "  \\ |      |/  "  \|       |/  "  \|
  / / \'---'/ \ \  / / \'---'/ \ \      \'/^\'/         \ .-. /
  \ \_/`"""`\_/ /  \ \_/`"""`\_/ /      /`\ /`\         /`"""`\
   \           /    \           /      /  /|\  \       /       \
