                     _______ _______ _______ _______ _______ _______ _______ 
                  |\     /|\     /|\     /|\     /|\     /|\     /|\     /|
                  | +---+ | +---+ | +---+ | +---+ | +---+ | +---+ | +---+ |
                  | |   | | |   | | |   | | |   | | |   | | |   | | |   | |
                  | |W  | | |E  | | |L  | | |C  | | |O  | | |M  | | |E  | |
                  | +---+ | +---+ | +---+ | +---+ | +---+ | +---+ | +---+ |
                  |/_____\|/_____\|/_____\|/_____\|/_____\|/_____\|/_____\|   

                                       _______ _______ 
                                      |\     /|\     /|
                                      | +---+ | +---+ |
                                      | |   | | |   | |
                                      | |T  | | |O  | |
              ██████                  | +---+ | +---+ |                 ██████   
            ██▓▓▓▓██                  |/_____\|/_____\|                 ██▓▓▓▓██ 
            ██▓▓▒▒██                                                    ██▒▒▓▓██   
        ████  ▓▓▒▒██               _______ _______ _______              ██▒▒▓▓  ████ 
      ██        ██                |\     /|\     /|\     /|               ██        ██
    ██░░        ██                | +---+ | +---+ | +---+ |               ██        ░░██  
    ██░░        ██                | |   | | |   | | |   | |               ██        ░░██  
    ██░░░░        ██              | |I  | | |R  | | |C  | |             ██        ░░░░██
    ██░░░░        ██              | +---+ | +---+ | +---+ |             ██        ░░░░██ 
    ██░░░░        ██              |/_____\|/_____\|/_____\|             ██        ░░░░██ 
    ██░░░░        ██                                                    ██        ░░░░██    
    ██░░░░          ██                                                ██          ░░░░██      
    ██░░░░            ████                                        ████            ░░░░██  
      ██░░░░              ████████████                ████████████              ░░░░██   
        ██░░░░                      ▒▒██            ██▒▒                      ░░░░██  
          ██░░░░                    ▒▒██            ██▒▒                    ░░░░██    
            ██░░░░░░░░              ▓▓██            ██▓▓              ░░░░░░░░██    
              ████░░░░░░░░░░░░░░██████                ██████░░░░░░░░░░░░░░████
                  ██████████████                            ██████████████  

                                      ████████████████                        
                                    ██▓▓▓▓▓▓▓▓▓▓▓▓▓▓████                      
                                  ████▓▓▓▓▓▓░░░░▓▓▓▓░░██                      
                                ██▓▓▓▓▓▓▓▓░░░░░░░░░░░░░░██                    
                                ██▓▓▓▓▓▓░░░░░░██░░░░██░░██                    
                                ██▓▓██▓▓░░░░░░██░░░░██░░██                    
                                ██▓▓██▓▓░░██░░░░░░░░░░░░░░██                  
                                  ██▓▓▓▓██░░░░░░░░░░░░░░░░░░██                
                      ██████        ██▓▓██░░░░░░░░████░░░░░░██                
                    ██▓▓▓▓▓▓██        ██░░████████░░░░██████                  
                  ██▓▓▓▓▓▓▓▓▓▓██      ████░░░░░░░░░░░░░░██                    
                  ██▓▓▓▓██▓▓▓▓██    ██▓▓▓▓██████████████                      
                  ██▓▓▓▓▓▓██████████▓▓▓▓▓▓▓▓▓▓██▓▓▓▓██                        
                    ██▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓██▓▓▓▓██▓▓▓▓██                      
                      ████████████▓▓▓▓▓▓▓▓▓▓██▓▓▓▓██▓▓▓▓██                    
                                ██████████▓▓██░░░░░░██░░░░██                  
                              ██░░░░░░░░░░██░░░░░░░░██░░░░██                  
                              ██░░░░░░░░░░██░░░░░░██░░░░██                    
                              ██████████████████████████    
 